### Target Variable : Tip

In [2]:
!cd

C:\Users\j\K-Digital_multi\KDstudy\실습\pca 실습

In [1]:
import pandas as pd

In [3]:
df = pd.read_csv('../tips.csv')

### Encoding

In [4]:
df["sex"] = df["sex"].replace({"Female" : 0, "Male" : 1})
df["smoker"] = df["smoker"].replace({"No" : 0, "Yes" : 1})
df["day"] = df["day"].replace({"Thur" : 0, "Fri" : 1, "Sat" : 2, "Sun" : 3})
df["time"] = df["time"].replace({"Lunch" : 0, "Dinner" : 1})
df['tip_rate'] = (df['tip']/df['total_bill'] * 100).round(2)

In [6]:
df.describe().round()

       total_bill    tip    sex  smoker    day   time   size  tip_rate
count       244.0  244.0  244.0   244.0  244.0  244.0  244.0     244.0
mean         20.0    3.0    1.0     0.0    2.0    1.0    3.0      16.0
std           9.0    1.0    0.0     0.0    1.0    0.0    1.0       6.0
min           3.0    1.0    0.0     0.0    0.0    0.0    1.0       4.0
25%          13.0    2.0    0.0     0.0    0.0    0.0    2.0      13.0
50%          18.0    3.0    1.0     0.0    2.0    1.0    2.0      15.0
75%          24.0    4.0    1.0     1.0    3.0    1.0    3.0      19.0
max          51.0   10.0    1.0     1.0    3.0    1.0    6.0      71.0

In [16]:
y=df['tip'] # Target variable -> Tip
X=df.drop('tip',axis=1)

### RFE

In [27]:
from sklearn.feature_selection import RFE

In [35]:
#from sklearn.tree import DecisionTreeClassifier

In [28]:
from sklearn.svm import SVR

In [29]:
estimator = SVR(kernel="linear")

In [30]:
# define RFE
rfe = RFE(estimator, n_features_to_select=4)

In [31]:
# fit RFE
selector=rfe.fit(data_trans, y)

In [69]:
!cd

C:\Users\i\Desktop\2021-K-Digital-Training-main\SQL

In [32]:
selector.support_

array([ True,  True, False, False,  True,  True])

In [33]:
# summarize all features
for i in range(data_trans.shape[1]):
  print('Column: %d,  Rank: %d' % (i,  rfe.ranking_[i]))

Column: 0,  Rank: 1
Column: 1,  Rank: 1
Column: 2,  Rank: 3
Column: 3,  Rank: 2
Column: 4,  Rank: 1
Column: 5,  Rank: 1

In [34]:
df1=pd.DataFrame(data_trans, columns=['total_bill', 'sex', 'smoker', 'day', 'time', 'size'])

In [35]:
df1.columns

In [37]:
df1.drop(['smoker', 'day'], axis=1)

     total_bill  sex  time  size
0         16.99  0.0   1.0   2.0
1         10.34  1.0   1.0   3.0
2         21.01  1.0   1.0   3.0
3         23.68  1.0   1.0   2.0
4         24.59  0.0   1.0   4.0
..          ...  ...   ...   ...
247       20.65  1.0   1.0   4.0
248       20.65  1.0   1.0   5.0
249       10.34  1.0   1.0   3.0
250       10.34  1.0   1.0   2.0
251       16.99  0.0   1.0   2.0

[252 rows x 4 columns]

### PCA

In [39]:
from sklearn.decomposition import PCA

In [40]:
data_trans.shape

(252, 6)

In [41]:
# define the transform
trans = PCA(n_components=4)

In [42]:
# transform the data
X_dim = trans.fit_transform(data_trans)

In [43]:
# summarize data after the transform
print(X_dim[:3, :])

[[-2.72161111 -1.23805454 -0.43580267  0.80856409]
 [-9.28403422 -1.60709112  0.92640616 -0.25494631]
 [ 1.36070512 -1.30036284  0.29684274 -0.16815677]]

### Regression Feature Selection

In [44]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import f_regression

In [45]:
fs = SelectKBest(score_func=f_regression, k=4)

In [46]:
data_trans.shape

(252, 6)

In [47]:
y.shape

(252,)

In [73]:
# apply feature selection
X_selected = fs.fit_transform(data_trans, y)

In [54]:
parameters = fs.get_params(deep=True)

In [66]:
parameters

{'k': 4,
 'score_func': <function sklearn.feature_selection._univariate_selection.f_regression(X, y, *, center=True)>}

In [59]:
parameters['score_func']

In [67]:
get_features = fs.fit(data_trans, y)

In [71]:
get_features

In [75]:
fs.get_support(indices=True)

array([0, 3, 4, 5], dtype=int64)

In [49]:
print(X_selected.shape)

In [51]:
X_selected.shape[1]

4

In [64]:
df_rfe_selected = pd.DataFrame(X_selected, columns=['total_bill', 'day', 'time', 'size'])

In [65]:
df_rfe_selected.describe()

       total_bill         day        time        size
count  252.000000  252.000000  252.000000  252.000000
mean    19.702500    1.750000    0.730159    2.587302
std      8.803699    1.148791    0.444761    0.959497
min      3.070000    0.000000    0.000000    1.000000
25%     13.347500    1.000000    0.000000    2.000000
50%     17.795000    2.000000    1.000000    2.000000
75%     24.022500    3.000000    1.000000    3.000000
max     50.810000    3.000000    1.000000    6.000000