# 정규화 실습

In [1]:
import pymysql.cursors
import pandas as pd

In [21]:
conn = pymysql.connect(host='localhost', user='me', 
                       password='1234', db='tip', charset='utf8',
                       autocommit=True, cursorclass=pymysql.cursors.DictCursor)
try:

   with conn.cursor() as curs:
      sql = "select * from tips;"
      curs.execute(sql)
      rs = curs.fetchall()

      # DB에서 받아온 값을 DataFrame에 넣음

      df = pd.DataFrame(rs)    
#       df.to_csv('query.csv')

finally:

   conn.close()

In [3]:
df["sex"] = df["sex"].replace({"Female" : 0, "Male" : 1})
# tips['sex'].replace(~~~~, inplace = True) 해당 변경값을 바로 변수에 투입
# 
df["smoker"] = df["smoker"].replace({"No" : 0, "Yes" : 1})
df["day"] = df["day"].replace({"Thur" : 0, "Fri" : 1, "Sat" : 2, "Sun" : 3})
df["time"] = df["time"].replace({"Lunch" : 0, "Dinner" : 1})

In [4]:
from numpy import isnan
from sklearn.impute import SimpleImputer

In [5]:
y = df['total_bill']
x = df.drop('total_bill',axis =1)

In [6]:
data = x.values
y = y.values

In [7]:
imputer = SimpleImputer(strategy = 'median')
imputer.fit(data)
data_trans = imputer.transform(data)

# rfe

In [8]:
from sklearn.feature_selection import RFE
from sklearn.svm import SVR

In [9]:
rfe = RFE(estimator=SVR(kernel="linear"), n_features_to_select=4)

In [10]:
rfe.fit(data_trans, y)

RFE(estimator=SVR(kernel='linear'), n_features_to_select=4)

In [11]:
df1 = pd.DataFrame(data_trans)

# 정규화

In [12]:
from sklearn.preprocessing import MinMaxScaler

In [17]:
trans = MinMaxScaler()

# transform the data
X_norm = trans.fit_transform(df1)

In [18]:
df_norm = pd.DataFrame(X_norm)

In [19]:
df_norm

            0    1    2    3    4    5
0    0.001111  0.0  0.0  1.0  1.0  0.2
1    0.073333  1.0  0.0  1.0  1.0  0.4
2    0.277778  1.0  0.0  1.0  1.0  0.4
3    0.256667  1.0  0.0  1.0  1.0  0.2
4    0.290000  0.0  0.0  1.0  1.0  0.6
..        ...  ...  ...  ...  ...  ...
244  0.001111  0.0  0.0  1.0  1.0  0.2
245  0.073333  1.0  0.0  1.0  1.0  0.4
246  0.073333  1.0  0.0  1.0  1.0  0.4
247  0.073333  1.0  0.0  1.0  1.0  0.4
248  0.073333  1.0  0.0  1.0  1.0  0.2

[249 rows x 6 columns]

In [20]:
df1

        0    1    2    3    4    5
0    1.01  0.0  0.0  3.0  1.0  2.0
1    1.66  1.0  0.0  3.0  1.0  3.0
2    3.50  1.0  0.0  3.0  1.0  3.0
3    3.31  1.0  0.0  3.0  1.0  2.0
4    3.61  0.0  0.0  3.0  1.0  4.0
..    ...  ...  ...  ...  ...  ...
244  1.01  0.0  0.0  3.0  1.0  2.0
245  1.66  1.0  0.0  3.0  1.0  3.0
246  1.66  1.0  0.0  3.0  1.0  3.0
247  1.66  1.0  0.0  3.0  1.0  3.0
248  1.66  1.0  0.0  3.0  1.0  2.0

[249 rows x 6 columns]

# 표준화 Standardization

In [23]:
from sklearn.preprocessing import StandardScaler

In [24]:
sc = StandardScaler()

In [25]:
df_sc = sc.fit_transform(df1)

In [26]:
df_transform_sc = pd.DataFrame(df_sc)

In [28]:
df_transform_sc.describe().round()

           0      1      2      3      4      5
count  249.0  249.0  249.0  249.0  249.0  249.0
mean    -0.0   -0.0   -0.0   -0.0   -0.0    0.0
std      1.0    1.0    1.0    1.0    1.0    1.0
min     -1.0   -1.0   -1.0   -2.0   -2.0   -2.0
25%     -1.0   -1.0   -1.0   -1.0   -2.0   -1.0
50%     -0.0    1.0   -1.0    0.0    1.0   -1.0
75%      0.0    1.0    1.0    1.0    1.0    0.0
max      5.0    1.0    1.0    1.0    1.0    4.0